*/build
/bin
.DS_Store
.classpath
.project
/.idea/
.pnpm-store
/.settings
.jshintrc
*/rev-manifest.json
/coverage/front/cobertura-coverage.xml
.env
/.vscode/

#==== Backend ====#
target
.flattened-pom.xml
*/pom-parent.xml
*/backend/src/main/resources/public
*/backend/src/main/resources/view
*/backend/src/main/resources/img

#==== Angular ====#
node_modules
*/angular/common
*/angular/src/css/
*/angular/src/dist/
*/angular/src/js/
*/angular/src/mdi/
*/angular/src/view/
*/angular/*.lock

#==== Frontend ====#
dist
*/frontend/*.lock
*/frontend/.env*
*/frontend/*.local
*/frontend/pnpm-lock.yaml
*/frontend/logs
*/frontend/*.log*
*/frontend/dist-ssr
# Editor directories and files
*/frontend/.vscode/*
*/frontend/!.vscode/extensions.json
*/frontend/.idea
*/frontend/.DS_Store
*/frontend/*.suo
*/frontend/*.ntvs*
*/frontend/*.njsproj
*/frontend/*.sln
*/frontend/*.sw?
# Google Lighthouse
*/frontend/.lighthouseci
*/frontend/.pnpm-store
# Turborepo
*/frontend/.turbo
# Nx
*/frontend/.nx
